<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <title>Services de Ménage</title>
  </head>
  <body>
    <header>
      <h1>Services de Ménage</h1>
      <nav>
        <ul>
          <li><a href="index.html">Accueil</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="repas.html">Repas</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h2>Nos Services de Ménage</h2>
        <p>
          Nous offrons une gamme complète de services de ménage pour répondre à
          vos besoins. Que ce soit pour un nettoyage régulier ou un nettoyage en
          profondeur, notre équipe est là pour vous aider.
        </p>
        <h3>Services Offerts :</h3>
        <ul>
          <li>Nettoyage de la maison</li>
          <li>Nettoyage de bureaux</li>
          <li>Nettoyage après déménagement</li>
          <li>Nettoyage de fin de chantier</li>
        </ul>
        <p>Pour plus d'informations, n'hésitez pas à nous contacter.</p>
      </section>
    </main>
    <footer>
      <p>&copy; 2023 Service à la Personne. Tous droits réservés.</p>
    </footer>
  </body>
</html>
